<% layout('/layout/page') -%>

<% block('title', 'Chat') -%>


<p class="lead">будующий чат</p>

<script src="/vendor/bower_components/socket.io-client/socket.io.js"></script>

<div id="room">
    <ul></ul>
    <form>
        <input class="form-control" autocomplete="off" autofocus placeholder="Сообщение...">
    </form>
</div>

<script>

    var input = $('#room input');
    var form = $('#room form');
    var ul = $('#room ul');


    var socket = io.connect('' , {
        'reconnection delay': 1
    });

    socket
            .on('message', function (message) {
                printMessage(message)
            })
            .on('connect', function () {
                printStatus('Соединение установлено');
                form.on('submit', sendMessage);
                input.prop('disabled', false);
            })
            .on('connect_error', function () {
                printStatus('Соединение потеряно');
                form.off('submit', sendMessage);
                input.prop('disabled', true);
            })

    function sendMessage () {
        var text = input.val();
        socket.emit('message', text, function () {
            printMessage(text);
        });

        input.val('');
        return false;
    }

    function printStatus(status) {
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }

    function printMessage(message) {
        $('<li>', {text: message}).appendTo(ul);
    }


</script>